body{
    font-family: 'Poppins', sans-serif;
}
p{
    font-weight: lighter;
}
h1{
    font-size: 50px;
    font-weight: 700;
}
h2{
    font-size: 35px;
}
h3{
    font-size: 25px;
}
.flexible{
    display: flex;
    margin-bottom: 50px;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 50%;
}
#skip-diet{
    padding-left: 100px;
    padding-top: 80px;
}
.orange-color{
    color: chocolate;
}
.gray-color{
    color:  #424949 ;
}
.order-button{
    text-decoration: none; 
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 30px;
}
.about-bg{
    background-image: url(images/shapes/Frame\ 58.jpg);
    margin: 0px;
}
#about-img{
    padding-left: 100px;
    padding-top: 40px;
}
#about{
    padding-top: 80px;
    padding-right: 70px;
}
.recipies{
    text-align: center;
}
.recipies-item{
    width: 30%;
    padding: 10px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 20px;
    box-shadow: 10px 10px 40px gray;
}
.recipies-item img{
    width: 100%;
    
}
.three-box{
    padding-top: 50px; 
}
.social-media-width{
    width: 30%;
    margin-left: 10%;
    margin-right: 6%;   
}
.social-media{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 60px;
    box-shadow: 10px 10px 40px gray;
}
.comming-box{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 60px;
    box-shadow: 10px 10px 40px gray;
}
.comming-soon{
    width: 40%;
    padding-left: 10%;
    padding-right: 10%;
    
}
.comming-soon img{
    width: 100%;
    padding: 10px; 
}
footer{
    background-color: black;
    color: blanchedalmond;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 80px;
}

